<div id="logout" class="logout">
    <span><%= __('login.loginInfo') %> <%=loggedUser.imie + " " + loggedUser.nazwisko%></span>
    <a href="/logout" class="list-actions-button-delete"><%= __('login.logOut') %></a>
</div>